In [176]:
import pandas as pd

In [177]:
df = pd.read_csv(r'day.csv')
df.iloc[147]

instant              148
dteday        2011-05-28
season                 2
yr                     0
mnth                   5
holiday                0
weekday                6
workingday             0
weathersit             1
temp            0.655833
atemp           0.612379
hum             0.729583
windspeed       0.230092
casual              2001
registered          2757
cnt                 4758
Name: 147, dtype: object

In [178]:

df=df.drop(labels=['instant','dteday','casual','registered','atemp'],axis=1)

In [179]:
df['season']=df['season'].astype('category')
df['weathersit']=df['weathersit'].astype('category')
df['mnth']=df['mnth'].astype('category')
df['weekday']=df['weekday'].astype('category')
df = pd.get_dummies(df,dtype='int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   yr            731 non-null    int64
 1   holiday       731 non-null    int64
 2   workingday    731 non-null    int64
 3   temp          731 non-null    float64
 4   hum           731 non-null    float64
 5   windspeed     731 non-null    float64
 6   cnt           731 non-null    int64
 7   season_1      731 non-null    int32
 8   season_2      731 non-null    int32
 9   season_3      731 non-null    int32
 10  season_4      731 non-null    int32
 11  mnth_1        731 non-null    int32
 12  mnth_2        731 non-null    int32
 13  mnth_3        731 non-null    int32
 14  mnth_4        731 non-null    int32
 15  mnth_5        731 non-null    int32
 16  mnth_6        731 non-null    int32
 17  mnth_7        731 non-null    int32
 18  mnth_8        731 non-null    int32
 19  mnth_9        731 non-null    int32
 20  mnth_10       731 non-null    int32
 21  mnth_11       731 non-null    int32
 22  mnth_12       731 non-null    int32
 23  weekday_0     731 non-null    int32
 24  weekday_1     731 non-null    int32
 25  weekday_2     731 non-null    int32
 26  weekday_3     731 non-null    int32
 27  weekday_4     731 non-null    int32
 28  weekday_5     731 non-null    int32
 29  weekday_6     731 non-null    int32
 30  weathersit_1  731 non-null    int32
 31  weathersit_2  731 non-null    int32
 32  weathersit_3  731 non-null    int32
dtypes: float64(3), int32(26), int64(4)
memory usage: 114.3 KB

In [180]:

X = df.drop(labels=['cnt'],axis=1)
Y = df[['cnt']]

In [181]:

Y

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 1 columns]

In [182]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [183]:
numerical_cols

Index(['yr', 'holiday', 'workingday', 'temp', 'hum', 'windspeed', 'season_1',
       'season_2', 'season_3', 'season_4', 'mnth_1', 'mnth_2', 'mnth_3',
       'mnth_4', 'mnth_5', 'mnth_6', 'mnth_7', 'mnth_8', 'mnth_9', 'mnth_10',
       'mnth_11', 'mnth_12', 'weekday_0', 'weekday_1', 'weekday_2',
       'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weathersit_1',
       'weathersit_2', 'weathersit_3'],
      dtype='object')

In [184]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
!pip install joblib

Requirement already satisfied: joblib in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (1.2.0)

WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)

In [185]:
import joblib
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',MinMaxScaler())

    ]

)
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[])),
    ('scaler',MinMaxScaler())
    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [187]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)
pickle.dump(X_train.iloc[0],open('X_train_new.pkl','wb'))

In [175]:
joblib.dump(preprocessor,"pre_processor.x")

['pre_processor.x']

In [ ]:
X_train=pd.DataFrame(preprocessor.fit(X_train),columns=preprocessor.get_feature_names_out())

In [138]:
X_train

,num_pipeline__yr,num_pipeline__holiday,num_pipeline__workingday,num_pipeline__temp,num_pipeline__hum,num_pipeline__windspeed,num_pipeline__season_1,num_pipeline__season_2,num_pipeline__season_3,num_pipeline__season_4,...,num_pipeline__weekday_0,num_pipeline__weekday_1,num_pipeline__weekday_2,num_pipeline__weekday_3,num_pipeline__weekday_4,num_pipeline__weekday_5,num_pipeline__weekday_6,num_pipeline__weathersit_1,num_pipeline__weathersit_2,num_pipeline__weathersit_3
0,0.0,0.0,0.0,0.730681,0.750214,0.403707,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.720868,0.670951,0.207215,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.534417,0.684661,0.248661,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,1.0,0.534417,0.567695,0.584228,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.039395,0.477720,0.788780,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,1.0,0.0,1.0,0.210581,0.469580,0.340896,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
507,0.0,0.0,1.0,0.799373,0.696658,0.338245,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
508,0.0,0.0,0.0,0.660899,0.644388,0.168428,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
509,1.0,0.0,1.0,0.672893,0.817052,0.225918,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
510,1.0,0.0,0.0,0.237840,0.421594,0.350256,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [139]:
y_train

      cnt
147  4758
155  4906
108  3204
495  6572
407  1529
..    ...
430  3956
145  4677
140  5805
500  5115
421  3389

[511 rows x 1 columns]

In [140]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [141]:
lm = LinearRegression()
lm.fit(X_train, y_train)

rfe1 = RFE(lm)
rfe1 = rfe1.fit(X_train, y_train)

In [142]:
import statsmodels.api as sm  

 

# Subset the features selected by rfe1
col1 = X_train.columns[rfe1.support_]

 

# Subsetting training data for 5t selected columns
X_train_rfe1 = X_train[col1]

 

# Add a constant to the model
X_train_rfe1 = sm.add_constant(X_train_rfe1)
X_train_rfe1.head()

,const,num_pipeline__season_1,num_pipeline__season_4,num_pipeline__mnth_1,num_pipeline__mnth_2,num_pipeline__mnth_5,num_pipeline__mnth_6,num_pipeline__mnth_7,num_pipeline__mnth_8,num_pipeline__mnth_9,num_pipeline__mnth_11,num_pipeline__mnth_12,num_pipeline__weekday_0,num_pipeline__weekday_1,num_pipeline__weathersit_1,num_pipeline__weathersit_2,num_pipeline__weathersit_3
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [143]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.18 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: patsy>=0.5.2 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from statsmodels) (23.0)
Requirement already satisfied: pandas>=1.0 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\nhi623\appdata\local\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\nhi623\appdata\local\anaconda3\lib\site-packages)

In [144]:
y_train

      cnt
147  4758
155  4906
108  3204
495  6572
407  1529
..    ...
430  3956
145  4677
140  5805
500  5115
421  3389

[511 rows x 1 columns]

In [145]:
y_train.reset_index(drop=True,inplace=True)

In [146]:
lm1 = sm.OLS(y_train, X_train_rfe1).fit()   

print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    cnt   R-squared:                       0.528
Model:                            OLS   Adj. R-squared:                  0.514
Method:                 Least Squares   F-statistic:                     36.91
Date:                Tue, 20 Jun 2023   Prob (F-statistic):           6.93e-71
Time:                        16:34:44   Log-Likelihood:                -4406.1
No. Observations:                 511   AIC:                             8844.
Df Residuals:                     495   BIC:                             8912.
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       2742.5229    154.637     17.735      0.000    2438.698    3046.348
num_pipeline__season_1     -1127.8122    278.502     -4.050      0.000   -1675.005    -580.620
num_pipeline__season_4       871.5144    228.381      3.816      0.000     422.799    1320.229
num_pipeline__mnth_1       -1142.2013    303.591     -3.762      0.000   -1738.688    -545.714
num_pipeline__mnth_2        -722.4838    304.964     -2.369      0.018   -1321.668    -123.299
num_pipeline__mnth_5         903.9196    268.775      3.363      0.001     375.840    1431.999
num_pipeline__mnth_6        1309.1422    270.675      4.837      0.000     777.329    1840.955
num_pipeline__mnth_7         871.0957    264.484      3.294      0.001     351.446    1390.745
num_pipeline__mnth_8        1072.5941    288.012      3.724      0.000     506.717    1638.471
num_pipeline__mnth_9        1396.7450    252.040      5.542      0.000     901.546    1891.944
num_pipeline__mnth_11      -1205.8994    284.810     -4.234      0.000   -1765.486    -646.313
num_pipeline__mnth_12       -972.2359    255.587     -3.804      0.000   -1474.406    -470.066
num_pipeline__weekday_0     -437.4140    178.514     -2.450      0.015    -788.152     -86.676
num_pipeline__weekday_1     -402.3920    172.062     -2.339      0.020    -740.454     -64.330
num_pipeline__weathersit_1  2125.3018    124.439     17.079      0.000    1880.808    2369.796
num_pipeline__weathersit_2  1417.4144    132.700     10.681      0.000    1156.689    1678.139
num_pipeline__weathersit_3  -800.1933    289.220     -2.767      0.006   -1368.444    -231.942
==============================================================================
Omnibus:                       10.094   Durbin-Watson:                   2.052
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                5.964
Skew:                           0.054   Prob(JB):                       0.0507
Kurtosis:                       2.482   Cond. No.                     1.67e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.25e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [147]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()

vif['Features'] = X_train_rfe1.columns

vif['VIF'] = [variance_inflation_factor(X_train_rfe1.values, i) for i in range(X_train_rfe1.shape[1])]

vif['VIF'] = round(vif['VIF'], 2)

vif = vif.sort_values(by = "VIF", ascending = False)

vif

C:\Users\NHI623\AppData\Local\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1781: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\Users\NHI623\AppData\Local\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

                      Features   VIF
16  num_pipeline__weathersit_3   inf
14  num_pipeline__weathersit_1   inf
15  num_pipeline__weathersit_2   inf
1       num_pipeline__season_1  4.13
2       num_pipeline__season_4  2.60
3         num_pipeline__mnth_1  2.03
4         num_pipeline__mnth_2  2.00
7         num_pipeline__mnth_7  1.60
5         num_pipeline__mnth_5  1.56
6         num_pipeline__mnth_6  1.55
10       num_pipeline__mnth_11  1.53
8         num_pipeline__mnth_8  1.45
11       num_pipeline__mnth_12  1.44
9         num_pipeline__mnth_9  1.31
12     num_pipeline__weekday_0  1.04
13     num_pipeline__weekday_1  1.04
0                        const  0.00

In [148]:
# X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [149]:
X_train_rfe1.drop('num_pipeline__season_3', axis = 1, inplace = True)

KeyError: "['num_pipeline__season_3'] not found in axis"

In [ ]:
lm1 = sm.OLS(y_train, X_train_rfe1).fit()   

print(lm1.summary())

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()

vif['Features'] = X_train_rfe1.columns

vif['VIF'] = [variance_inflation_factor(X_train_rfe1.values, i) for i in range(X_train_rfe1.shape[1])]

vif['VIF'] = round(vif['VIF'], 2)

vif = vif.sort_values(by = "VIF", ascending = False)

vif

In [ ]:
X_train_rfe1.drop('num_pipeline__mnth_3', axis = 1, inplace = True)

In [ ]:
lm1 = sm.OLS(y_train, X_train_rfe1).fit()   

print(lm1.summary())

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()

vif['Features'] = X_train_rfe1.columns

vif['VIF'] = [variance_inflation_factor(X_train_rfe1.values, i) for i in range(X_train_rfe1.shape[1])]

vif['VIF'] = round(vif['VIF'], 2)

vif = vif.sort_values(by = "VIF", ascending = False)

vif

In [ ]:
pickle.dump(lm1, open('lm1.pkl', 'wb'))

In [ ]:
import pickle

In [ ]:
pickled_model = pickle.load(open('lm1.pkl', 'rb'))

In [156]:
pickled_model

In [151]:
df

,yr,holiday,workingday,temp,hum,windspeed,cnt,season_1,season_2,season_3,...,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weathersit_1,weathersit_2,weathersit_3
0,0,0,0,0.344167,0.805833,0.160446,985,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,0,0,0.363478,0.696087,0.248539,801,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,1,0.196364,0.437273,0.248309,1349,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,0,0,1,0.200000,0.590435,0.160296,1562,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,1,0.226957,0.436957,0.186900,1600,1,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,1,0,1,0.254167,0.652917,0.350133,2114,1,0,0,...,0,0,0,0,1,0,0,0,1,0
727,1,0,1,0.253333,0.590000,0.155471,3095,1,0,0,...,0,0,0,0,0,1,0,0,1,0
728,1,0,0,0.253333,0.752917,0.124383,1341,1,0,0,...,0,0,0,0,0,0,1,0,1,0
729,1,0,0,0.255833,0.483333,0.350754,1796,1,0,0,...,1,0,0,0,0,0,0,1,0,0
730,1,0,1,0.215833,0.577500,0.154846,2729,1,0,0,...,0,1,0,0,0,0,0,0,1,0

In [152]:
k= pd.read_csv(r'day.csv')

In [153]:
k

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [154]:
k['season'].value_counts()

3    188
2    184
1    181
4    178
Name: season, dtype: int64

In [190]:
X_train.iloc[0]

yr              0.000000
holiday         0.000000
workingday      0.000000
temp            0.655833
hum             0.729583
windspeed       0.230092
season_1        0.000000
season_2        1.000000
season_3        0.000000
season_4        0.000000
mnth_1          0.000000
mnth_2          0.000000
mnth_3          0.000000
mnth_4          0.000000
mnth_5          1.000000
mnth_6          0.000000
mnth_7          0.000000
mnth_8          0.000000
mnth_9          0.000000
mnth_10         0.000000
mnth_11         0.000000
mnth_12         0.000000
weekday_0       0.000000
weekday_1       0.000000
weekday_2       0.000000
weekday_3       0.000000
weekday_4       0.000000
weekday_5       0.000000
weekday_6       1.000000
weathersit_1    1.000000
weathersit_2    0.000000
weathersit_3    0.000000
Name: 147, dtype: float64

In [191]:
X_train[:1]

,yr,holiday,workingday,temp,hum,windspeed,season_1,season_2,season_3,season_4,...,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weathersit_1,weathersit_2,weathersit_3
147,0,0,0,0.655833,0.729583,0.230092,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0

In [197]:
pickle.dump(X_train[:1],open('X_train_data.pkl','wb'))

In [198]:
pickle.dump(X_train_rfe1[:1],open('X_train_rfe1_data.pkl','wb'))

In [199]:
with open('X_train_data.pkl', 'rb') as file:
    xtd = pickle.load(file)

In [ ]:
!pip uninstall pandas